.theme {
  &-oceanic {
    --background: #263238;
    --foreground: #b0bec5;
    --contrast: #1e272c;
    --accent: #009688;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/oceanic.png');
    --logo: url('../../img/logo/material-oceanic.svg');
  }

  &-darker {
    --background: #212121;
    --foreground: #b0bec5;
    --contrast: #1a1a1a;
    --accent: #FF9800;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/darker.png');
    --logo: url('../../img/logo/material-darker.svg');
  }

  &-lighter {
    --background: #fafafa;
    --foreground: #a7adb0;
    --contrast: #f4f4f4;
    --accent: #80cbc4;
    --accent-text: #222222;
    --laptop: url('../../img/themes/lighter.png');
    --logo: url('../../img/logo/material-lighter.svg');
  }

  &-palenight {
    --background: #292d3e;
    --foreground: #b0bec5;
    --contrast: #202331;
    --accent: #ab47bc;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/palenight.png');
    --logo: url('../../img/logo/material-palenight.svg');
  }

  &-deepocean {
    --background: #0f111a;
    --foreground: #8f93a2;
    --contrast: #090b10;
    --accent: #84ffff;
    --accent-text: #222222;
    --laptop: url('../../img/themes/deepocean.png');
    --logo: url('../../img/logo/material-deepocean.svg');
  }

  &-monokai {
    --background: #2d2a2e;
    --foreground: #c1c0c0;
    --contrast: #221f22;
    --accent: #ffd866;
    --accent-text: #222222;
    --laptop: url('../../img/themes/monokai.png');
    --logo: url('../../img/logo/material-monokai.svg');
  }

  &-dracula {
    --background: #282a36;
    --foreground: #f8f8f2;
    --contrast: #191a21;
    --accent: #FF79C5;
    --accent-text: #222222;
    --laptop: url('../../img/themes/dracula.png');
    --logo: url('../../img/logo/material-dracula.svg');
  }

  &-arcdark {
    --background: #2f343f;
    --foreground: #d3dae3;
    --contrast: #262b33;
    --accent: #42A5F5;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/arcdark.png');
    --logo: url('../../img/logo/material-arcdark.svg');
  }

  &-onedark {
    --background: #282c34;
    --foreground: #979fad;
    --contrast: #21252b;
    --accent: #2979ff;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/onedark.png');
    --logo: url('../../img/logo/material-onedark.svg');
  }

  &-onelight {
    --background: #fafafa;
    --foreground: #232324;
    --contrast: #d3d4d5;
    --accent: #2979ff;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/onelight.png');
    --logo: url('../../img/logo/material-onelight.svg');
  }

  &-solardark {
    --background: #002b36;
    --foreground: #839496;
    --contrast: #00252e;
    --accent: #d33682;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/solardark.png');
    --logo: url('../../img/logo/material-solardark.svg');
  }

  &-solarlight {
    --background: #fdf4df;
    --foreground: #586e75;
    --contrast: #fcf4dc;
    --accent: #d33682;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/solarlight.png');
    --logo: url('../../img/logo/material-solarlight.svg');
  }

  &-github {
    --background: #F7F8FA;
    --foreground: #5B6168;
    --contrast: #FFFFFF;
    --accent: #79CB60;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/github.png');
    --logo: url('../../img/logo/material-github.svg');
  }

  &-nightowl {
    --background: #011627;
    --foreground: #d6deeb;
    --contrast: #010e1a;
    --accent: #7e57c2;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/nightowl.png');
    --logo: url('../../img/logo/material-nightowl.svg');
  }

  &-lightowl {
    --background: #F0F0F0;
    --foreground: #403f53;
    --contrast: #D0D0D0;
    --accent: #2AA298;
    --accent-text: #FFFFFF;
    --laptop: url('../../img/themes/lightowl.png');
    --logo: url('../../img/logo/material-lightowl.svg');
  }

}
