<footer class="footer">
  <!-- Contact -->
  <div class="content contact">
    <div class="col l4 s12">
      <h5 class="white-text">Support Material Theme</h5>
      <p>Thank you for using Material Theme for JetBrains! If you liked the plugin,
        you can support me on Paypal or OpenCollective.</p>
      <a class="btn" href="{{ site.baseurl }}/docs/support-us/">Support</a>
    </div>
    <div class="col l4 s12">
      <h5 class="white-text">Join the Discussion</h5>
      <p>We have a Gitter and a Slack chat room set up where you can talk directly with us. Come
        in and discuss new features, future goals, general problems or questions, or anything else you can think
        of.</p>
      <a class="btn" target="_blank"
         href="https://gitter.im/Material-Theme-JetBrains/Lobby#">Gitter</a>
      <a class="btn" target="_blank"
         href="https://join.slack.com/t/material-theme-ui/shared_invite/enQtMzgzNTUxMjQ2MTQ1LWU3Y2ZlYTBlNDEyZmU5YTMzNjAxZjc0NmVkMTk1NzdmNDI1NDAwMzI4NWYxZjVmYzUyYTgwZWEzNjE2YTg2NTA">Slack</a>
    </div>
    <div class="col l4 s12" style="overflow: hidden;">
      <h5 class="white-text">Connect</h5>
      <iframe
        src="https://ghbtns.com/github-btn.html?user=chrisrm&amp;repo=material-theme-jetbrains&amp;type=watch&amp;count=true&amp;size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
      <br>
    </div>
  </div>

  <!-- Copyright -->
  <div class="content copyright">
    <span>Material Theme v{{ site.version }} &copy; {{ site.year }} </span>
    <span class="copyright-authors">
      <a href="https://twitter.com/mallowigi" target="_blank">Elior Boukhobza</a> &
      <a href="https://twitter.com/crmag" target="_blank">Chris Magnussen</a> </span>
    <span class="copyright-all">All rights reserved</span>
    <span class="copyright-license muted">Distributed under MIT Licence</span>
  </div>
</footer>
{% include scripts.html %}
