<!-- full logo version with slogan, icon and text, add the class .ts-full if you want to work with some of the existing CSS -->
<div style="width: 224px; height: 224px;" class="logo-img"></div>
<div>
  <h1 class="logo-caption">Material Theme UI Plugin</h1>
  <h2 class="logo-slogan">Material Design experience for JetBrains IDEs</h2>
</div>
<div>
  <h2 class="logo-description">Material Theme UI is a plugin for JetBrains IDE (IntelliJ IDEA, WebStorm, Android
    Studio and so on) that changes the original appearance to a Material Design look and feel.</h2>
</div>

<div class="call-to-action">
  {% include carbonads.html %}
  <a href="{{ site.baseurl }}/docs/introduction">
    <button class="btn -large">
      Get Started
    </button>
  </a>
</div>
