<div class="main-menu">
  <div class="content">
    <a class="homelink" href="/">
      <div style="width: 3em; height: 3em;" class="logo-img"></div>
    </a>
    <nav class="menu">
      <a class="menu-toggle-link noline js-menu-toggle">
        <i class="fa fa-close fa-lg"></i>
      </a>
      <ul class="navbar">
        <li>
          <a href="{{ site.baseurl }}/docs/introduction">Getting Started</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/docs/configuration/settings">Configuration</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/docs/reference/color-palette">Reference</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/docs/development/installation">Installation</a>
        </li>
        <li>
          <a href="/docs/blog">Blog</a>
        </li>
        <!--<li>-->
        <!--<a href="/gallery">Theme Gallery</a>-->
        <!--</li>-->
      </ul>
    </nav>
    <span class="h-spacer"></span>
    <nav class="iconnav">
      <ul>
        <li class="search-nav">
          <div class="search">
            <div class="search-wrapper card">
              <i class="fa fa-search search-button"></i>
              <input class="search-input" id="search">
              <div class="search-results" id="hits">
              </div>
            </div>
          </div>
        </li>
        <li class="github-nav">
          <a href="{{ site.github }}">
            <button class="btn"><i class="fa fa-github" style="font-size: larger;"></i> GitHub</button>
          </a>
        </li>
        <a href='#menu' class="menu-toggle-link noline js-menu-toggle">
          <i class="fa fa-navicon"></i>
        </a>
      </ul>
    </nav>

  </div>
</div>
