<li class="card themed single {{ theme.className }}" markdown="0"
    style="background: {{ theme.background }}; color: {{ theme.foreground }}"
>
  <div class="card-content">
    <span class="card-title">{{ theme.name | capitalize }}</span>
    <p>Background: {{ theme.background }}</p>
    <p>Foreground: {{ theme.foreground }}</p>
    <p style="color: {{theme.text}}">Text: {{ theme.text }}</p>
    <p style="background-color: {{theme.selectBg}}; color: {{theme.selectFg}}">Selection Background: {{ theme.selectBg
      }}</p>
    <p style="background-color: {{theme.selectBg}}; color: {{theme.selectFg}}">Selection Foreground: {{ theme.selectFg
      }}</p>
    <p style="background-color: {{theme.button}}; color: {{theme.text}}">Buttons: {{ theme.button }}</p>
    <p style="background-color: {{theme.second}}">Second Background: {{ theme.second }}</p>
    <p style="color: {{theme.disabled}}">Disabled: {{ theme.disabled }}</p>
    <p style="background-color: {{theme.contrast}};">Contrast: {{ theme.contrast }}</p>
    <p style="background: {{theme.table}};">Active: {{ theme.table }}</p>
    <p style="border: 2px solid {{theme.misc1}}">Border: {{ theme.misc1 }}</p>
    <p style="background: {{theme.misc2}};">Highlight: {{ theme.misc2 }}</p>
    <p style="background: {{theme.tree}}; color: {{theme.selectFg}}">Tree: {{ theme.tree }}</p>
    <p style="background: {{theme.notif}};">Notifications: {{ theme.notif }}</p>
    <p style="color: {{theme.accent}}">Accent Color: {{ theme.accent }}</p>
    <p style="background: {{theme.excluded}}">Excluded Files Color: {{ theme.excluded }}</p>

    <p style="color: {{theme.comments}}">Comments Color: {{ theme.comments }}</p>
    <p style="color: {{theme.variables}}">Variables Color: {{ theme.variables }}</p>
    <p style="color: {{theme.links}}">Links Color: {{ theme.links }}</p>
    <p style="color: {{theme.functions}}">Functions Color: {{ theme.functions }}</p>
    <p style="color: {{theme.keywords}}">Keywords Color: {{ theme.keywords }}</p>
    <p style="color: {{theme.tags}}">Tags Color: {{ theme.tags }}</p>
    <p style="color: {{theme.strings}}">Strings Color: {{ theme.strings }}</p>
    <p style="color: {{theme.operators}}">Operators Color: {{ theme.operators }}</p>
    <p style="color: {{theme.attributes}}">Attributes Color: {{ theme.attributes }}</p>
    <p style="color: {{theme.numbers}}">Numbers Color: {{ theme.numbers }}</p>
    <p style="color: {{theme.parameters}}">Parameters Color: {{ theme.parameters }}</p>

  </div>
</li>
