/**
  Global Styles and classes
 */
body {
  @include flexbox(column, wrap, center, flex-start);
  margin-top: $header-size;
  min-height: 100vh;
  transition: 0.3s all ease-in-out;

  @media all and (max-width: $from-noslogan-to-icon) {
    margin-top: $header-size-condensed;
  }
}

.muted {
  color: transparentize($primary-color, $opacity);
}

.center-image img {
  display: block;
  margin: 0 auto;
}

.btn {
  @include button($accent-color, btn);
  color: white !important;
  font-weight: 400;

  &.-large {
    font-size: large;
    height: 4rem;
    line-height: 2rem;
    padding: 1rem 2rem;
  }
}

.btn-flat {
  @include button($accent-color, flat);
}


// headings. Because that's faster than writing each of them separately.
@for $i from 1 through 6 {
  $fontsize: ($h1-fontsize + 0.64) - ($i * 0.64);

  h#{$i} {
    font-size: $fontsize;
    font-weight: 300;
    line-height: 1.1*$fontsize;
    margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;

    a {
      font-weight: inherit;
    }
  }
}

code {
  background: $code-bg;
  border: solid 1px $code-border;
  border-radius: 4px;
  font-size: smaller;
  padding: 2px 4px;

  .highlight & {
    background: none;
    border: 0;
    border-radius: 0;
  }
}

// responsive video (Format 16:9)
.video-container {
  @include paddinghack(100%, 16, 9, 'iframe');
}

// The main container
.main {
  padding-top: 50px;
  width: 100%;
  @media screen and (max-width: $from-noslogan-to-icon) {
    padding-top: 0;
  }
}

// footnotes
.footnotes {
  border-top: $line;
  font-size: 0.9em;
  margin-top: 40px;
}

// 404 error msg
.error {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

// Screenshots of the plugin
.screenshot {
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 60%;
  width: 100%;
}

.call-to-action {
  margin: 1rem 0;
}

.multi-column-3 {
  column-count: 3;
}

