$input-radius: 3px;

.search {
  margin: 1em 0;

  .search-wrapper {
    border-radius: $input-radius;
    margin: 0 1em;
    transition: margin 0.25s ease;

    @media all and (max-width: $mobile-size) {
      margin: 0;
      width: 50vw;

      .sidebar & {
        margin: 0 1em;
        width: auto;
      }
    }

    @media all and (max-width: $min-mobile-size) {
      display: none;
    }
  }

  .algolia-autocomplete {
    width: 100%;
  }

  .search-input {
    border: 2px solid white;
    border-radius: $input-radius;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    outline: none;
    padding-left: 2em;
    width: 100%;

    &:active,
    &:focus {
      border-bottom: 2px solid $accent-color;
    }
  }

  .ais-search-box {
    position: relative;
  }

  .search-button {
    color: $primary-text;
    cursor: pointer;
    left: 0;
    padding: 0 0.75em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }

  .search-results {
    background: white;
    border-top: $line;
    color: $primary-text;
    position: absolute;
    width: max-content;
    z-index: 100;

    .search-results-hits {
      padding: 1em;
    }

    .search-results-item {
      margin: 0.5em 0;

      > p {
        margin: 0;
      }
    }
  }

  .ds-dropdown-menu {
    @media all and (max-width: $mobile-size) {
      max-width: $mobile-size;
      min-width: 300px;
    }
  }
}

// Algolia
.index {
  --docsearch-primary-color: var(--accent);
  --docsearch-text-color: var(--foreground);
  --docsearch-highlight-color: var(--accent);
  --docsearch-muted-color: var(--text);
  --docsearch-container-background: rgba(0,0,0,0.5);
  --docsearch-logo-color: var(--accent);
  --docsearch-modal-background: var(--background);
  --docsearch-icon-color: var(--foreground);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.5), 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  --docsearch-searchbox-background: var(--contrast);
  --docsearch-searchbox-focus-background: var(--contrast);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--accent);
  --docsearch-hit-color: var(--foreground);
  --docsearch-hit-active-color: var(--selectFg);
  --docsearch-hit-background: var(--second);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--border);
  --docsearch-key-gradient: linear-gradient(-225deg, var(--button), var(--button));
  --docsearch-key-shadow: inset 0 -2px 0 0 var(--button), inset 0 0 1px 1px var(--button), 0 1px 2px 1px var(--button);
  --docsearch-footer-background: var(--background);
  --docsearch-footer-shadow: 0 -1px 0 0 var(--border), 0 -3px 6px 0 var(--border);

  .DocSearch-Button {
    border-radius: 4px;
    border: 1px solid var(--button);
    min-width: 180px;
  }

  .DocSearch-Button {
    opacity: 1;
  }

  .DocSearch-Modal {
    animation: fade-in .3s ease-out forwards;
  }
}
