pre {
  background-color: var(--contrast);
  border-radius: 2px;
  font-size: 0.9em;
  overflow-x: auto;
  padding: 6px 10px;
}

.highlight {
  pre,
  .hll {
    font-family: $code-font;
  }

  .c, // comment
  .cm, // comment multiline
  .c1 { // comment single
    color: var(--comments);
  }

  .err, //error
  .gr, // generic error
  .gt { // generic trace
    color: var(--error);
  }

  .k,
  .o,
  .cp,
  .cs,
  .gs,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .gu,
  .ne,
  .nf,
  .ow {
    font-weight: bold;
  }

  .cp, // comment preproc
  .cs, // comment special
  .gh { // generic heading
    color: var(--comments);
  }

  .gd, // deleted
  .gd .x,
  .gi, // inserted
  .gi .x {
    color: var(--foreground);
  }

  .gd, //deleted
  .err {
    background-color: $palepink;
  }

  .gd .x {
    background-color: #faa;
  }

  .gi { // inserted
    background-color: #dfd;

    .x {
      background-color: #afa;
    }
  }

  .go { // generic output
    color: var(--vars);
  }

  .gp { // generic prompt
    color: var(--links);
  }

  .gu { // generic subheading
    color: var(--parameters);
  }

  .kt { // keyword type
    color: var(--keywords);
    font-weight: bold;
  }

  .m { // number
    color: var(--numbers);
  }

  .s { // string
    color: var(--strings);
  }

  .n {
    color: var(--comments);
  }

  .na { //attributes
    color: var(--attributes);
  }

  .nb { // builtin
    color: var(--functions);
  }

  .nc { // class
    color: var(--classes);
    font-weight: bold;
  }

  .no { // constant
    color: var(--numbers);
  }

  .ni { // entity
    color: var(--operators);
  }

  .ne { // exception
    color: var(--error);
  }

  .nf { // function
    color: var(--functions);
  }

  .nn { //namespace
    color: var(--classes);
  }

  .nt { //tags
    color: var(--tags);
  }

  .nv { // variables
    color: var(--vars);
  }

  .w { // whitespace
    color: var(--silver);
  }

  .mf { // float
    color: var(--numbers);
  }

  .mh { // hex
    color: var(--numbers);
  }

  .mi { // number
    color: var(--numbers);
  }

  .mo { //octal
    color: var(--numbers);
  }

  .sb { // backtick
    color: var(--strings);
  }

  .sc { //char
    color: var(--strings);
  }

  .sd { //doc
    color: var(--strings);
  }

  .s2 { //double quotes
    color: var(--strings);
  }

  .se { //escape
    color: var(--strings);
  }

  .sh { //heredoc
    color: var(--strings);
  }

  .si { //interpolation
    color: var(--strings);
  }

  .sx { //other
    color: var(--strings);
  }

  .sr { // regex
    color: var(--strings);
  }

  .s1 {  // single quotes
    color: var(--strings);
  }

  .ss { //symbols
    color: var(--keywords);
  }

  .bp { // builtin
    color: var(--functions);
  }

  .vc { // variable class
    color: var(--variables);
  }

  .vg { // variable global
    color: var(--variables);
  }

  .vi { // variable instance
    color: var(--variables);
  }

  .il { // literal number
    color: var(--numbers);
  }

  .gc {
    background-color: var(--contrast);
    color: var(--comments);
  }
}
