// TOOLBOX COLORS
//---------------------------------------------------------------------
$almost-white: #fdfdfd;
$almost-black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
$white: #fff;
$black: #212121;
$gray: #727272;

// material colors, to create new palette check out: http://www.materialpalette.com/

$green: #4caf50;
$lightgreen: #c8e6c9;
$darkgreen: #388e3c;

$red: #ff5252;

//----------------------------

$indigo: #3f51b5;
$darkindigo: #303f9f;
$lightindigo: #c5cae9;

$pink: #ff4081;
$turquoise: #80cbc4;

//----------------------------

$teal: #009688;
$darkteal: #00796b;
$lightteal: #b2dfdb;

$amber: #ffc107;

//----------------------------

$brown: #795548;
$darkbrown: #5d4037;
$lightbrown: #d7ccc8;

$purple: #e040fb;

$olivegray: #998;
$palepink: #e3d2d2;
$darkred: #a61717;
$medgray: #999;

:root {
  --primary: #ffcb6b;
  --primaryT: #ffcb6b70;
  --accent: #009688;
  --accentT: #00968870;
  --accent2: #c792ea;
  --accent2T: #c792ea70;
  --background: #263238;
  --foreground: #B0BEC5;
  --text: #607D8B;
  --selectBg: #546E7A;
  --selectFg: #FFFFFF;
  --accent-text: #FFFFFF;
  --button: #2E3C43;
  --second: #32424A;
  --disabled: #415967;
  --contrast: #1E272C;
  --active: #314549;
  --border: #2A373E;
  --hl: #425B67;
  --tree: #546E7A70;
  --notif: #1E272C;
  --excluded: #2E3C43;

  --yellow: #ffcb6b;
  --green: #c3e88d;
  --cyan: #89ddff;
  --blue: #82aaff;
  --purple: #c792ea;
  --red: #f07178;
  --red2: #f07178;
  --orange: #f78c6c;
  --orange2: #f78c6c;
  --gray: #546e7a;
  --silver: #eeffff;
  --black: #1E272C;
  --laptop: url('../../img/themes/oceanic.png');
  --logo: url('../../../img/logo/material-oceanic.svg');
}
