body {
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    color: var(--foreground);
  }

  .dropdown-content li {
    background: var(--second);
    color: var(--foreground);
  }

  .select-dropdown.dropdown-content li.selected,
  .select-dropdown.dropdown-content li:focus {
    background: var(--selectBg) !important;
    color: var(--selectFg) !important;
  }

  .select-dropdown.dropdown-content li:hover {
    background: var(--hl) !important;
    color: var(--selectFg) !important;
  }

  .front-page {
    background-color: var(--background);
    color: var(--foreground);
    transition: all 1s;
  }

  &.documentation {
    background-color: var(--background);
    color: var(--foreground);
  }

  .header,
  .footer {
    background-color: var(--background);
    transition: all 1s;
  }

  .main-menu,
  .menu,
  .footer {
    background-color: var(--contrast);
    color: var(--foreground);
    transition: all 1s;

    a {
      color: var(--foreground);
      transition: color 1s;

      &:hover {
        color: var(--accent);
      }
    }

  }

  .navbar > li {
    &:hover {
      background: var(--background);
      transition: all 1s;
    }
  }

  .muted {
    color: rgba(var(--foreground), $opacity);
  }

  .logo-caption,
  .logo-description,
  .section-title,
  .feat-title,
  .feat-caption {
    color: var(--foreground);
    fill: var(--foreground);
    transition: all 1s;
  }

  .contents {
    background-color: var(--background);
    color: var(--foreground);
    transition: all 1s;
  }

  .screenshot {
    background: var(--laptop) no-repeat 50% 30%, url('../../img/laptop.png') no-repeat top left;
    background-size: 75%, contain;
    display: none;
  }

  .logo-img {
    background-image: var(--logo), url('../../img/logo/material-oceanic.svg');
    margin: 1em auto;

    &.-error {
      filter: grayscale(100%);
      transform: rotate(25deg) translateY(-10px);
    }
  }

  .sidebar-toggle {
    background: var(--background);
    transition: background-color 0.25s;

    &:hover {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--background);
    }

    i {
      color: var(--foreground);
      transition: color 1s;
    }
  }

  .sidebar {
    background: var(--contrast);
    color: var(--foreground);

    a {
      color: #ffffff;

      &:hover {
        color: $second-accent-color;
        transition: color 1s;
      }
    }
  }

  .sidebar-link-group a {
    color: var(--foreground);
    transition: color 1s;
  }

  .sidebar-link-group a:hover {
    background-color: var(--background);
    transition: background-color 1s;
  }

  .sidebar-link-group.active > a,
  .link-section.active > a {
    background-color: var(--background);
    transition: background-color 1s;
  }

  .link-section.active > a {
    color: var(--accent);
    transition: color 1s;
  }

  .docs-header {
    background: var(--accent);
    color: var(--selectFg);
    transition: all 1s;
  }

  .github-ribbon {
    border: 0;
    color: var(--selectFg);
    fill: var(--accent);
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1s;
  }

  hr {
    border-color: var(--hl);
  }

  pre,
  code {
    background: var(--second);
    border-color: var(--border);
  }

  blockquote {
    background: var(--second);
    border-color: var(--border);
    color: var(--foreground);
  }

  table tbody tr:nth-child(odd),
  .card-panel,
  .card {
    background: var(--contrast);
    color: var(--foreground);
  }

  .card-panel.warn {
    background: var(--accent);
    color: var(--selectFg);
  }

  .card-panel.error {
    color: var(--selectFg);
  }

  .card-panel a {
    color: var(--accent2) !important;
  }

  .search .search-input,
  .search .search-button {
    color: var(--foreground);
    background: var(--contrast);
  }

  .collection-item.color {
    color: $primary-text;
  }

  .card, #carbonads {
    background-color: var(--notif);
    color: var(--foreground);
  }

  .pageclip-form__success {
    background: var(--background);
  }

  @import 'crisp';
  //@import 'disqus';
}
