<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body class="documentation documentation-blog theme-oceanic -centered">
<header class="header">
  {% include nav.html %}
</header>

<div class="main">
  <div class="content">
    <div class="doc">
      {% for post in site.posts %}
      {% include article_index.html %}
      {% endfor %}

      {{ content }}

      {% if page.comments %}
      <hr>
      <div id="disqus_thread"></div>
      <script>

        var disqus_config = function () {
          this.page.url = '{{ page.url | prepend:site.baseurl | absolute_url }}';
          this.page.identifier = '{{ page.title | slugify }}';
        };
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://material-theme.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
      {% endif %}

      <div class="post-nav">
        {% if page.previous.url %}
        <a class="btn prev" href="{{ page.previous.url | prepend: site.baseurl }}">
          <i class="fa fa-angle-left"></i><span class="short"> prev</span><span
          class="long">ious: {{ page.previous.title }}</span>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn next" href="{{ page.next.url | prepend: site.baseurl }}">
          <span class="short">next </span><span class="long">: {{ page.next.title }} </span><i
          class="fa fa-angle-right"></i>
        </a>
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% include footer.html %}

</body>
</html>
